services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    command: ["bash", "-c", "mongod --replSet rs0 --bind_ip_all && sleep 5 && mongosh --eval 'rs.initiate()'"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
