services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: backend_prod
    restart: always
    env_file: 
      - .env.production
    ports:
      - "3000:3000"
